<header class="header wrap">
  <h1>
    <a href="{{site.basePath}}">{{site.title}}</a>
  </h1>
  {% if site.description %}
  <div class="header__description">
    <strong>{{site.description}}</strong>
  </div>
  {% endif %}

  <!-- -->

  {% if site.pages or site.hasStaticFrontpage %}
  <nav class="nav">
    {% if site.hasStaticFrontpage %}
    <a href="{{site.basePath}}{{site.i18n.posts | slug}}.html" class="nav__link"
      >{{site.i18n.posts}}</a
    >
    {% endif %}
    <!-- -->
    {% for page in site.pages %}
    <a href="{{site.basePath}}{{page.id}}.html" class="nav__link"
      >{{page.meta.title}}</a
    >
    {% endfor %}
  </nav>
  {% endif %}
</header>
