{% extends "_document.html" %}

<!-- Title -->
{% block title %}
<title>{{post.meta.title}} | {{site.title}}</title>
{% endblock %}

<!-- HTML Head -->
{% block htmlhead %}
<link
  rel="canonical"
  href="https://github.com/{{site.owner}}/{{site.repo}}/issues/{{post.meta.number}}"
/>
{% endblock %}

<!-- Main Content -->
{% block maincontent %}
<article class="article">
  <h2>{{post.meta.title}}</h2>
  {{post.body | safe}}
  <hr />
  <time class="article__time" datetime="{{post.meta.createdAt}}">
    {{post.meta.createdAt | date(site.dateFormat)}}
  </time>
</article>
{% endblock %}
